//reset file/code
 body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
} 
//import below for bootstrap here if needed

//import below for css-libraries

//import below for fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Allura');
//variables go here
$t-color:rgba(37,37,37, 1.0);
// $hiwb-color:rgba(255,255,255, 1.0);
$hiwbg-color:rgba(11,172,139, 0.75);
$hiwb-color:#eedfdc;
$color-white:white;
$color-orange:#EF590A;
$bg-cover: rgba(60, 59, 58, 0.75);

//Homepage body

.body-wrapper{
    width:100%;
    height:500em;
    background:black;
}

//header{

header{
    position:fixed;
    z-index:100;
    width:100%;
    height:5em;
    padding-top:1em;
}

//hamburger-menu
.hamburger1
 {
    background: inherit;
    width: 80px;
    padding: 12px;
    float: left;
    margin: 0px 30px;
    cursor: pointer;
    border:none;
    position:absolute;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(1) {
    width: 20px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(2) {
    width: 35px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(3) {
    width: 45px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(4) {
    width: 55px;
    transition: all 0.5s;
}

//Banner Button css
.banner-btn{
    z-index:3;
    position: relative;
    background:rgba(60, 59, 58, 0.75);
    border: 1px solid rgba(60, 59, 58, 0.75);
    margin:0;
}

.banner-btn:hover{
    // background: #474545;
    background: white;
    border:1px solid #474545;
    transition: background .5s cubic-bezier(0.39, 0.58, 0.57, 1),border .5s ease-in;
    transition-property: background, border;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1), ease-in;
    transition-delay: initial, initial;
    span{
        color:black;
    }
}

.banner-btn span{
    width:180px;
    height:38px;
    font-size: 11px;
    letter-spacing: .22em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 30px;
    background: transparent;
    color: #fff;
    font-family: Open Sans;
    line-height: 350%;
    text-align: center;
}

//text animation
.tracking-in-expand {
    margin:0 !important;
    width:100%;
	-webkit-animation: tracking-in-expand 2.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tao>p{
    font-size:50px !important;
	font-family: 'Allura', 'cursive';
	color:white !important;
    letter-spacing: 0.25em;
    font-style: italic;
    text-align: center;
}

//scroll animation
@media screen and (max-width: 500px) {
    .sd-wrapper{
        margin-top:50% !important;
        .demo>div{
            left: 42% !important;
        }
    }
    }
    @media screen and (max-width: 800px) {
    .sd-wrapper{
        margin-top:30%;
        .demo>div{
            left: 45%;
        }
    }
    }
    @media screen and (max-width: 1024px) {
    .sd-wrapper{
        margin-top:20%;
        .demo>div{
            left: 45%;
        }
    }
    }
    @media screen and (min-width: 1024px) {
    .sd-wrapper{
        margin-top:20%;
        .demo>div{
            left: 47%;
        }
    }
}
.sd-wrapper{
    section {
        position: relative;
        width: 100%;
        height:inherit;
    }

    section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
    }

    .demo>div{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    }
    .demo div:hover {
    opacity: .5;
    }

    #section04 div span {
    position: absolute;
    top: -2.5em;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
    }
    @-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    }
    @keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
    }
}

//rect-card

.card{
    margin:0;
    background:transparent !important;
    border:none !important;
    color:white;
}


.card-title,.card-subtitle{
    text-align: center;
}

.card-img-top{
    margin:0 auto;
    width:200px !important;
    height:162px !important;
}

.card-text{
    margin-top:1em;
    text-align: center;
    word-wrap: break-word;
}


//Jumbotron
.jumbotron{
    margin-bottom:0 !important;
}

.jumbo-img{
    width:100%;
    height:60em;
    background-image: url('../images/black_background_red_color_paint_explosion_burst_9844_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position:relative;
    z-index:1;
}

.jumbo-wrapper{
    margin:20% auto 20% auto;
}
.b-btn-wrapper{
    margin-top:5%;
    @media screen and (min-width: 1024px) {
        .col{
            max-width:50%;
        }
    }
    @media screen and (max-width: 800px) {
        .col{
            max-width:100%;
        }
    }
    @media screen and (max-width: 1024px) {
        .col{
            max-width:80%;
        }
    }
    .col{
        margin:0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
}

//c1

.c1{
    height:60em;
    width:100% !important;
    text-align: center;
    background:url('https://images3.alphacoders.com/302/30269.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    h1{
        padding-top:2em;
        font-family: 'Cutive Mono', monospace;
        font-size: 3.0em;
        letter-spacing:0.25em;
        // letter-spacing:2px;
        color:white;
    }
    .card-deck{
        margin:5em auto 0 auto;
        font-family: 'Cormorant', serif;
        width:60%;
    }
    .card{
        background:rgba(0, 0, 0, 0.75) !important;
        border-radius:25px;
        height:30em;
        padding-top:3em;
    }
    .c1-div1{
        margin:3em auto 0 auto;
        width:60%;
        height:10em;
        padding-top:1.5em;
        h1{
            padding-top: 1em;
            text-align: center;
            font-family: 'Cormorant', serif;
            font-size: 1.5em;
            letter-spacing: 2px;
            color: white;
            margin-bottom: 0em;
            font-weight:500;
        }
        h3{
            font-family: 'system-ui', serif;
            font-size: 1em;
            letter-spacing: 2px;
            color:white;
        }
    }
}